<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home page' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'recipie-list' %}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add-recipie' %}">Add recipie</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout-page' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login-page' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register-user' %}">Sign-Up</a>
          </li>
        {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="filter_by/beverage">Beverage</a></li>
              
                <li><a class="dropdown-item" href="filter_by/appetizer">Appetizer</a></li>
              
                <li><a class="dropdown-item" href="filter_by/breakfast">Breakfast</a></li>
              
                <li><a class="dropdown-item" href="filter_by/bread">Bread</a></li>
              
                <li><a class="dropdown-item" href="filter_by/dessert">Dessert</a></li>
              
                <li><a class="dropdown-item" href="filter_by/snack">Snack</a></li>
              
                <li><a class="dropdown-item" href="filter_by/maindish">Maindish</a></li>
              
                <li><a class="dropdown-item" href="filter_by/salad">Salad</a></li>
              
                <li><a class="dropdown-item" href="filter_by/sidedish">Sidedish</a></li>
              
                <li><a class="dropdown-item" href="filter_by/soup">Soup</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
   
       </ul>
      <form class="d-flex" method="POST" action="{% url 'search-recipies' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Recipies" aria-label="Search" name="recipie">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>