{% extends 'website_app/base.html' %}
{% block title %}{recipie.recipie_name}{% endblock %}
{% block content%}
{{recipie.recipie_name}}<br>
{{recipie.recipie_type}}<br>
{{recipie.recipie_author}}<br>
{{recipie.view_count}}<br>
{{recipie.like_count}}<br>
{{recipie.recipie_author.user.id}} user<br>
{{user.id}}
<!--
<ul>
{% for ingredient in ingredients %}
	<li>{{ingredient}}</li>
{% endfor %}
</ul>
<ol>
{% for step in steps %}
	<li>{{step}}</li>
{% endfor %}
</ol>
-->
<br><br><br>
{{recipie.cooking_time}}<br>

<img src="{{recipie.main_image.url}}" width="400">

{% include 'website_app/temp.html' %}
{% endblock %}